<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--配置数据源, 交给Spring去做-->

    <!--设置别名-->
    <typeAliases>
        <typeAlias type="com.test.pojo.Books" alias="Books"/>
    </typeAliases>


    <!--映射Mapper-->

    <mappers>
        <mapper class="com.test.dao.BookMapper"/>

    </mappers>

</configuration>